@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
}

p { font-size: 1.2em; }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FDF7E4;
}

header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DED0B6;
}

header a {
    color: black;
    text-decoration: none;
}

main {
    padding: 0 2em 0 2em;
    max-width: 50em;
    margin: 0 auto;
    line-height: 2em;
}

main>h2, main>h3 { padding-top: 0.5em; }
main>p { padding: 1em 0 0.5em 0; }
main>ul { padding-top: 0.5em; height: 100%; }
main>ul>li, main>ol>li { padding: 0.5em 0 0.5em 0; }

footer {
    border-top: 1px solid black;
    min-height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: auto;
    background-color: #DED0B6;
}

#image-collage {
    display: grid;
    grid-template: auto auto / repeat(3, auto);
}

#image-collage img {
    border: 1px solid black;
    margin: 0.5em;
    max-width: 14em;
}

/* TESTING ZONE */
nav {
    background-color: #DED0B6;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    padding: 0.8em 0;
    width: 100%;
}

nav a {
    color: black;
    text-decoration: none;
}

nav li:hover {
    background-color: #BBAB8C;
    cursor: pointer;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #BBAB8C;
    border: black solid 2px;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: #BBAB8C;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: black;
}

.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
}

.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

@media only screen and (min-width: 992px) {
    header {
        padding: 1em 1em;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        right: 0;
        top: 0;
        height: auto;
        font-size: 1.4em;
        width: auto;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

@media (width <= 800px) {
    #image-collage {
        grid-template: repeat(3, auto) / auto auto;
    }
    
    #image-collage img {
        max-width: 95%;
    }
}

@media (width <= 600px) {
    #image-collage {
        grid-template: repeat(5, auto) / auto;
    }
    
    #image-collage img {
        max-width: 95%;
    }
}