@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
}

p { font-size: 1.2em; }
li { font-size: 1.2em; }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FDF7E4;
}

header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #DED0B6;
}

header>ul>li {
    display: inline;
    padding-left: 1.5em;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover { text-decoration: underline; }

main {
    padding: 0 2em 0 2em;
    max-width: 50em;
    margin: 0 auto;
    line-height: 2em;
}

main>h2, main>h3 { padding-top: 0.5em; }
main>p { padding: 1em 0 0.5em 0; }
main>ul { padding-top: 0.5em; height: 100%; }
main>ul>li, main>ol>li { padding: 0.5em 0 0.5em 0; }

footer {
    border-top: 1px solid black;
    min-height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: auto;
    background-color: #DED0B6;
}

#image-collage {
    display: grid;
    grid-template: auto auto / repeat(3, auto);
}

#image-collage img {
    border: 1px solid black;
    margin: 0.5em;
    max-width: 14em;
}

@media (width <= 800px) {
    #image-collage {
        grid-template: repeat(3, auto) / auto auto;
    }
    
    #image-collage img {
        max-width: 95%;
    }
}

@media (width <= 600px) {
    #image-collage {
        grid-template: repeat(5, auto) / auto;
    }
    
    #image-collage img {
        max-width: 95%;
    }
}